h2[title="baslik1"]{
    color: red;
}
p[title="paragraf1"]{
    color: lightblue;
    text-align: justify;
}
a[target="_blank"]{
    color: green;
}
input[type="text"]{
    background: cornflowerblue;
}
input[type="button"]{
    background: yellow;
}